{% import '@SyliusUi/Macro/flags.html.twig' as flags %}
{% set locales = item.extra('locales') %}
<div class="ui active tab" data-tab="default">
    <h3 class="ui top attached header">{{ 'monsieurbiz.settings.ui.by_default'|trans }}</h3>
    <div class="ui attached segment">
        <div class="ui fluid accordion">
            <div class="title active">
                <i class="dropdown icon"></i>
                {{ "monsieurbiz.settings.ui.form.title.sylius_default_values"|trans }}
            </div>
            <div class="content active">
                <p class="transition visible">
                    {{ form_row(form[constant('MonsieurBiz\\SyliusSettingsPlugin\\Settings\\Settings::DEFAULT_KEY') ~ '-' ~ constant('MonsieurBiz\\SyliusSettingsPlugin\\Settings\\Settings::DEFAULT_KEY')]) }}
                </p>
            </div>
            {%  if item.extra('settings').showLocalesInForm %}
                {% for locale in locales %}
                    <div class="title" data-locale="{{ locale.code }}">
                        <i class="dropdown icon"></i>
                        {{ flags.fromLocaleCode(locale.code) }} {{ locale.code|sylius_locale_name }}
                    </div>
                    <div class="content">
                        <p class="transition hidden">
                            {{ form_row(form[constant('MonsieurBiz\\SyliusSettingsPlugin\\Settings\\Settings::DEFAULT_KEY') ~ '-' ~ locale.code]) }}
                        </p>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
