{% import '@SyliusUi/Macro/flags.html.twig' as flags %}
{% set channel = item.extra('channel') %}
{% set locales = item.extra('locales') %}
<div class="ui tab" data-tab="channel_{{ channel.code }}">
    <h3 class="ui top attached header">{{ channel.name }}</h3>
    <div class="ui attached segment">
        <div class="ui fluid accordion">
            <div class="title active">
                <i class="dropdown icon"></i>
                {{ "monsieurbiz.settings.ui.form.title.channel_default_values"|trans({"%channelName%": channel.name}) }}
            </div>
            <div class="content active">
                <p class="transition visible">
                    {{ form_row(form['channel-' ~ channel.id ~ '-' ~ constant('MonsieurBiz\\SyliusSettingsPlugin\\Settings\\Settings::DEFAULT_KEY')]) }}
                </p>
            </div>
        {% for locale in locales %}
            <div class="title" data-locale="{{ locale.code }}">
                <i class="dropdown icon"></i>
                {{ flags.fromLocaleCode(locale.code) }} {{ locale.code|sylius_locale_name }}
            </div>
            <div class="content">
                <p class="transition hidden">
                    {{ form_row(form['channel-' ~ channel.id ~ '-' ~ locale.code]) }}
                </p>
            </div>
        {% endfor %}
        </div>
    </div>
</div>
