{% extends '@SyliusAdmin/layout.html.twig' %}

{% import '@SyliusUi/Macro/headers.html.twig' as headers %}

{% block title %}{{ 'monsieurbiz.settings.ui.settings.title'|trans }} {{ parent() }}{% endblock %}

{% form_theme form '@MonsieurBizSyliusSettingsPlugin/Form/theme.html.twig' %}

{% block content %}

    <div class="ui stackable two column grid">
        <div class="column">
            <h1 class="ui header">
                <i class="circular {{ settings.icon }} icon"></i>
                <div class="content">
                    {{ 'monsieurbiz.settings.ui.settings_of.title'|trans({'%pluginName%': settings.pluginName}) }}
                    <div class="sub header">{{ settings.description }}</div>
                </div>
            </h1>
            {#TODO breadcrumb#}
        </div>
    </div>

    {{ sylius_template_event('monsieurbiz.settings.admin.update', _context) }}

{% endblock %}
