{% extends '@SyliusAdmin/layout.html.twig' %}

{% import '@SyliusUi/Macro/headers.html.twig' as headers %}

{% block title %}{{ 'monsieurbiz.settings.ui.settings.title'|trans }} {{ parent() }}{% endblock %}

{% block content %}

    <div class="ui stackable grid">
        <div class="twelve wide column">
            {{ headers.default('monsieurbiz.settings.ui.settings.title'|trans, 'cogs', 'monsieurbiz.settings.ui.settings.subtitle'|trans) }}
        </div>
    </div>
    <div class="ui hidden divider"></div>
    <div class="ui cards">
        {% for card in settings %}
        <a class="card olive" href="{{ path('monsieurbiz_sylius_settings_admin_edit', {'alias': card.alias}) }}">
            <div class="content">
                <div class="header">
                    <i class="icon {{ card.icon }}"></i> {{ card.pluginName }}
                </div>
                <div class="meta">
                    {{ 'monsieurbiz.settings.ui.card.by'|trans({'%vendorName%': card.vendorName}) }}
                </div>
                <div class="description">
                    {{ card.description }}
                </div>
            </div>
        </a>
        {% endfor %}
    </div>

{% endblock %}
